<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="C:/Users/iaros/IdeaProjects/FrameWorkTestNG">
        <classes>
            <class name="tests.searchapartment.SearchApartmentTest"/>
        </classes>
    </test>
</suite>